.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  /*   background-image: url("../../public/a.jpg");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  /* transition: all 1s ease-in-out; */
}


.bgi.in {
  animation: fadeIn 0.5s forwards;
}

  .bgi.out {
  animation: fadeOut 0.2s forwards;
}  

@keyframes fadeOut {
  from {
    opacity: 1;
/*     transform: translateX(0);
 */  }

  to {
    opacity: 0;
/*     transform: translateX(100%);
 */  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
/*     transform: translateX(100%);
 */  }

  to {
    opacity: 1;
/*     transform: translateX(0);
 */  }
}