:root {

  /* Z-indexes for components */
  --ZI_mainContainer_stopped: 4;
  --ZI_SlidesWrapper: 3;
  --ZI_Slides: 2;
  --ZI_mainContainer_playing: 1;

  font-size: 16px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  z-index: inherit;
}

body {

  background-color: var(--background);
  overflow: hidden;
}

.hidden {
  display: none;
}