.albumsContainer {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
}

.albumListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albumsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  max-height: 400px;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  /*   width: min-content;
 */
}

.albumsItem {
  width: 300px;
  height: 75px;
  /* padding: 0.7rem; */
  /*   background-color: rgba(24, 24, 24, 0.8);
 */
  outline: 2px solid rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: 75px 1fr;
  border-radius: 5px;
}

.albumsItem:hover {

  outline: 2px solid var(--color12b);
  cursor: default
}

.albumsItem:hover .albumsItemInfo {

  background-color: var(--color12c);
}


.albumsItemImg {
  width: 75px;
  height: 75px;
  /* TODO: poner variable */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  object-fit: cover;

  overflow: hidden;
  clip-path: inset(3px 3px 3px 3px);
  transform: scale(1.2);
}

.albumsItemImgContainer {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
}

.albumsItemInfo {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.albumsItemControls {

  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.albumsItemButton {
  cursor: pointer;
  background-color: var(--color1);
  font-weight: 600;
  color: var(--color26);
  border: 2px solid var(--color26);
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  width: 30px;
  flex-direction: row;
  display: flex;
  box-shadow: 2px 2px 1px 0 rgb(10, 10, 10);
  justify-content: center;
  align-items: center;
}

.albumsItemButton:hover {
  /* border: 3px solid #ff00d4; */
  border: 2px solid rgb(10, 10, 10);
  background-color: var(--color26);
  color: rgb(0, 0, 50);
  cursor: pointer;
  box-shadow: 2px 2px 1px 0 rgb(10, 10, 10);
  transition: all ease-in-out 0.2s;
}


.albumsSearchContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.albumsSearch {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  padding-left: 1.5rem;
  border: none;
  color: var(--color17);
  background-color: var(--color1);
  border-bottom: 2px solid var(--color17);
  transition: all ease-in-out 0.1s;
  border-radius: 25px;
  max-width: 600px;
  width: 100%;
}

.albumsSearch:focus {
  border-bottom: 2px solid var(--color1);
  outline: 2px solid var(--color17);
}