.albumsContainer {
  display: flex;
  flex-direction: column;
  /*   background: rgba(0, 0, 0, 0.8);
 */
  /* border: 2px solid gray; */
  /*  padding: 1rem;
  border-radius: 15px; */
}

.albumsList {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-height: 400px;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  /*   border: 1px solid white;
 */

}

.albumsItem {
  width: 300px;
  height: 100px;
  /* padding: 0.7rem; */
  /*   background-color: rgba(24, 24, 24, 0.8);
 */
  outline: 2px solid rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: 100px 1fr;
  border-radius: 5px;
}


.albumsItem:hover .albumsItemControls {
  display: flex;
  position: absolute;
  outline: 2px solid rgba(128, 128, 128, 0.3);
  background-color: rgba(24, 24, 24, 0.6);
}

.albumsItem:hover .albumsItemButton {
  display: flex;
}

.albumsItemImg {
  width: 100px;
  height: 100px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  object-fit: cover;

  overflow: hidden;
  clip-path: inset(3px 3px 3px 3px);
  transform: scale(1.2);
}

.albumsItemImgContainer {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.albumsItemInfo {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.albumsItemControls {
  display: none;
  place-content: center;
  place-items: center;
  position: absolute;
  height: 100px;
  width: inherit;
  /*   background-color: rgba(24, 24, 24, 0.5);
 */
  border-radius: 5px;
}

.albumsItemButton {
  cursor: pointer;
  display: none;
  background-color: var(--color1);
  font-weight: 600;
  color: var(--color26);
  border: 2px solid var(--color26);
  border-radius: 3px;
  padding: 0.2rem;
}



.albumsSearch {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  border: none;
  color: var(--color17);
  background-color: var(--color1);
  border-bottom: 2px solid var(--color17);
  transition: all ease-in-out 0.1s;
  border-radius: 25px;
}

.albumsSearch:focus {
  border-bottom: 2px solid var(--color1);
  outline: 2px solid var(--color17);
}