.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  color: white;
  place-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  overflow: auto;
  max-height: 400px;
  border: 1px solid white;

  .listItem {
    border: 1px solid red;
  }
}