.mainPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  color: white;
  place-content: center;
  align-items: center;

}

.mainContainer {
  z-index: var(--ZI_mainContainer_stopped)
}

.mainContainer.playing {
  z-index: var(--ZI_mainContainer_playing);
}

.playerControlsWrapper {
  display: flex;
  height: 100%;
  place-content: center;
  align-items: center;
}

.albumsContainer {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.albumsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  max-height: 400px;
  border: 1px solid white;

  .albumsItem {
    border: 1px solid red;
  }
}


.slidesWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: var(--ZI_SlidesWrapper);
  color: white;
  background: none;
}


.hidden {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.visible {
  opacity: 100;
  transition: all ease-in-out 0.3s;
}