.mainPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  color: white;
  place-content: center;
  align-items: center;

}

.mainContainer {
  z-index: var(--ZI_mainContainer_stopped);
  padding: 1rem;
}

.mainContainer.playing {
  z-index: var(--ZI_mainContainer_playing);
}

.playerControlsWrapper {
  display: flex;
  height: 100%;
  place-content: center;
  align-items: center;
}

.albumsContainer {
  display: flex;
  flex-direction: column;
  /*   background: rgba(0, 0, 0, 0.8);
 */
  /* border: 2px solid gray; */
  /*  padding: 1rem;
  border-radius: 15px; */
}

.albumsList {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-height: 400px;
  padding: 1rem;
  gap: 1rem;
  /*   border: 1px solid white;
 */

}

.albumsItem {
  width: 200px;
  /* padding: 0.7rem; */
  background-color: rgba(24, 24, 24, 0.9);
  outline: 2px solid black;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.albumsItem:hover {
  cursor: pointer;
}
.albumsItem:hover .albumItemsControls {
  display: flex;
  border: 1px solid red red;
}
.albumsItem:hover .albumsItemButton {
  display: flex;
}
.albumsItemImg {
  width: 200px;
  height: 200px;
}
.albumsItemInfo {
  padding: 1rem;
  background-color: rgba(24, 24, 24, 0.8);
}
.albumsItemControls {
/*   position:absolute;
 */  padding: 1rem;
/*   display: none;
 */}
.albumsItemButton {
  cursor: pointer;
  display: none;
  background-color: var(--color1);
  font-weight: 600;
  color: var(--color26);
  border: 2px solid var(--color26);
  border-radius: 3px;
  padding: 0.2rem;
}



.albumsSearch {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  border: none;
  color: var(--color17);
  background-color: var(--color1);
  border-bottom: 2px solid var(--color17);
  transition: all ease-in-out 0.1s;
  border-radius: 25px;
}

.albumsSearch:focus {
  border-bottom: 2px solid var(--color1);
  outline: 2px solid var(--color17);
}

.slidesWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: var(--ZI_SlidesWrapper);
  color: white;
  background: none;
}


.hidden {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.visible {
  opacity: 100;
  transition: all ease-in-out 0.3s;
}