.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  /*   background-image: url("../../public/a.jpg");
 */

  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
